@model List<Course>

@section Header {
    @await Html.PartialAsync("_Header")
}

<div class="row">
    @foreach(var course in Model)   {
        @if(course.isActive && course.isHome) {

        <div class="col-3">
            <div class="card">
                <img src="~/img/@course.Image" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">@course.Title</h5>
                    <p class="card-text">@course.Description</p>
                    <a class="btn btn-primary" asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">Detail</a>
                </div>
            </div>
        </div>
        }
    }
</div>